html {
  --color-highlight-800: rgb(var(--color-highlight-800--string));
  --color-highlight-600: rgb(var(--color-highlight-600--string));
  --color-highlight-400: rgb(var(--color-highlight-400--string));
  --color-highlight-200: rgb(var(--color-highlight-200--string));
  --color-highlight-100: rgb(var(--color-highlight-100--string));
}
