html {
  --color-black--string: 0, 0, 0;
  --color-white--string: 255, 255, 255;

  --color-primary-900--string: 15, 15, 15;
  --color-primary-800--string: 26, 28, 33;
  --color-primary-700--string: 34, 37, 43;
  --color-primary-600--string: 56, 60, 67;
  --color-primary-500--string: 79, 84, 92;
  --color-primary-400--string: 100, 105, 114;
  --color-primary-300--string: 128, 132, 140;
  --color-primary-200--string: 153, 157, 165;
  --color-primary-100--string: 185, 185, 185;
  --color-primary-50--string: 223, 223, 223;

  --color-secondary-900--string: 37, 37, 37;
  --color-secondary-800--string: 53, 53, 53;
  --color-secondary-700--string: 67, 67, 67;
  --color-secondary-600--string: 78, 78, 78;
  --color-secondary-500--string: 95, 95, 95;
  --color-secondary-400--string: 121, 121, 121;
  --color-secondary-300--string: 143, 143, 143;
  --color-secondary-200--string: 176, 176, 176;
  --color-secondary-100--string: 212, 212, 212;
  --color-secondary-50--string: 238, 238, 238;

  --color-tertiary-900--string: 0, 29, 30;
  --color-tertiary-800--string: 1, 47, 50;
  --color-tertiary-700--string: 1, 61, 65;
  --color-tertiary-600--string: 5, 71, 75;
  --color-tertiary-500--string: 15, 102, 108;
  --color-tertiary-400--string: 38, 133, 139;
  --color-tertiary-300--string: 37, 155, 162;
  --color-tertiary-200--string: 43, 179, 188;
  --color-tertiary-100--string: 86, 221, 229;
  --color-tertiary-50--string: 153, 239, 244;

  --color-highlight-800--string: 47, 0, 27;
  --color-highlight-600--string: 78, 3, 47;
  --color-highlight-400--string: 110, 21, 73;
  --color-highlight-200--string: 141, 49, 102;
  --color-highlight-100--string: 176, 92, 141;

  --color-success--string: 36, 161, 72;
  --color-warning--string: 255, 131, 43;
  --color-error--string: 250, 77, 86;
}
